@tailwind base;
@tailwind components;
@tailwind utilities;


@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


body{
    overflow-x: hidden;
}
/* Colores */
.bg-primary {
    background-color: #0f172a;
}

.bg-secondary {
    background-color: #1E293E;
}

.bg-accent {
    background-color: #7477FF;
}

.text-accent {
    color: #7477FF;
}

/* Navegación */
nav li a {
    padding: 1.25rem 1rem;
    font-size: 1.125rem;
    color: white;
    font-weight: bold;
}

nav li a:hover {
    color: #7477FF;
}

/* Navegación móvil */
.mobile-nav {
    display: none;
    position: fixed;
    top: 4rem;
    left: -100%;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    background-color: #1a202c;
    transition: left 0.5s;
    z-index: 1000;
}

.mobile-nav.show {
    left: 0;
    display: block;
}

/* Efectos de proyecto */
.project-card {
    transition: transform 0.3s ease;
    background-color: #2a2a2a; /* Fondo secundario */
    border-radius: 8px;
    overflow: hidden;
    padding: 20px;
    height: 400px;
}

.project-card:hover {
    transform: scale(1.05);
}

/* Carrusel */
.project-slider {
    max-width: 100%;
    margin: auto;
}

.project-slider .slick-slide {
    display: flex;
    justify-content: center;
}

.project-slider .slick-slide img {
    border-radius: 0.5rem;
}

.project-slider .slick-dots {
    bottom: 10px;
}

/* Botón para regresar al inicio */
.scroll-to-top {
    position: fixed;
    bottom: 5%;
    right: 5%;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 1000;
}

.scroll-to-top:hover {
    background-color: #5b5de6;
    transform: scale(1.1);
}

/* TAMAÑO Y DISEÑO DE LAS TARJETAS */
.project-slider .slick-slide {
    display: flex;
    justify-content: center;
}

.project-slider .slick-slide > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* Responsividad */
.project-card img {
    width: 100%;
    height: 150px; /* Controlamos la altura de la imagen */
    object-fit: cover;
    border-radius: 8px;
}

.project-card .card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    font-size: 1.125rem;
}

.project-card p {
    color: #ccc;
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.project-card .technologies {
    font-size: 0.8rem;
    color: #bbb;
}

.project-card a {
    display: inline-block;
    background-color: #7477FF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.project-card a:hover {
    background-color: #5b5de6;
}

/* Responsividad en el layout */
.flex-col-responsive {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
        flex-direction: row;
    }

    @media (min-width: 640px) {
        flex-direction: row;
    }
}

/* Texto responsivo */
.text-responsive {
    font-size: 1.25rem;
    @media (min-width: 768px) {
        font-size: 1.3rem;
    }
    @media (min-width: 1024px) {
        font-size: 2rem;
    }

    @media (min-width: 640px) {
        font-size: 1rem;
    }
}

/* Padding y margin responsive */
.padding-responsive {
    padding: 1rem;

    @media (min-width: 768px) {
        padding: 1.3rem;
    }

    @media (min-width: 1024px) {
        padding: 2rem;
    }
}

/* Botón flotante */
.floating-button-container {
  position: fixed;
  bottom: 5px;
  right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.floating-button {
  background-color: #1a202c;
  color: white; 
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.floating-button:hover {
  transform: scale(1.1);
}

/* Iconos flotantes visibles cuando se expande */
.floating-icons {
  margin-bottom: 5px; /* Aumenta el espacio entre los iconos y el botón */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.floating-icon {
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; /* Aumenta el espacio entre los iconos */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.floating-icon:hover {
  transform: scale(1.1);
}

/* Colores específicos para cada ícono */
.floating-icon.whatsapp {
  color: #1a202c;
}

.floating-icon.gmail {
  color: #DB4437;
}

/* Botón de scroll-to-top */
.scroll-to-top {
  position: fixed;
  bottom: 53px;
  right: 8px;
  background-color: #1a202c;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.scroll-to-top:hover {
  transform: scale(1.1);
}

/* Fade-in animation */
.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Resaltar lo que haces */
.highlight {
    padding: 0.2rem 0.4rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: 28px;
}

/* Marquee animation */
/* .animate-marquee {
    display: inline-block;
    animation: marquee 14s linear infinite;
    white-space: nowrap;
    overflow: hidden;
}

.marquee-container {
    overflow: hidden; 
    width: 100%; 
    position: relative; 
} */

.text-highlight {
    font-weight: bold;  
    color: #fff;  
    padding: 0.4rem 0.8rem;  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);  
    font-size: 1.1rem; 
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


.header button {
    background: transparent; 
    border: none;  
  }


  .fade-in-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .fade-in-up.visible {
    opacity: 1;
    transform: translateY(0);
  }
  

/* animacion del footer */

@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: marquee 10s linear infinite;
  }
  

